@typeparam TItem

@if (List == null)
{

    @NullContent
}
else if (List.Count == 0)
{
    @EmptyContent
}
else
{
    <div>
        @foreach (var item in List)
        {
            // Fragment
            @ElementTemplate(item)
        }
    </div>
}

@code {
    // Content
    [Parameter] public RenderFragment NullContent { get; set; }
    [Parameter] public RenderFragment EmptyContent { get; set; }

    // Data
    [Parameter] public List<TItem> List { get; set; }
    // Fragment
    [Parameter] public RenderFragment<TItem> ElementTemplate { get; set; }

}
